*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.images{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: none;
    align-items: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 16px 0px black;
    padding: 10px;
}
.registration input {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    font-size: 16px;
}
#Next{
    width: 90%;
    font-size: 16px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    cursor: pointer;
    border-radius: 10px;
}
.registration input:focus {
    border: 4px solid #007BFF;
}
#btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    float: right;
    background-color: lightgrey;
    color: black;
    border: ipx solid gray;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}
#back-btn{
    cursor: pointer;
    position: relative;
    background: none;
    border: 5px solid #007BFF;
    border-radius: 50%;
}
.content{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    top: 8.25%;
    left: 50%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
}
.regirstration{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dates{
    width: 20%;
    position: absolute;
    left: 20%;
    margin-top: 16%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-2{
    width: 20%;
    height: 12vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 25%;
    font-size: 14px;
    margin-top: 55%;
}
#date{
    font-size: 24px;
}
.table{
    width: 50%;
    height: auto;
    position: absolute;
    top: 21%;
    left: 37%;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
#delete{
    padding: 5px;
    background: none;
    border: 2px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
}
#add{
    padding: 5px;
    background: none;
    border: 2px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
}
.signature{
    width: 40%;
    background-repeat: no-repeat;
    height: auto;
    /* border: 4px dashed #007BFF; */
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: center;
    left: 50%;
    bottom: 68vmax;
    cursor: pointer;
}
#drop-view{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

@media print{
    .images{
        margin-top: -90px;
    }
        .container{
        display: none;
    }
    .content{
        position: absolute;
    }
    .dates{
            width: 20%;
    position: absolute;
    left: 15%;
    margin-top: 19.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .date-2{
    width: 20%;
    height: 12vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 18%;
    font-size: 14px;
    margin-top: 68%;
}
#back-btn{
    display: none;
}
#add{
    display: none;
}
#delete{
    display: none;
}
}
@media screen and (max-width: 600px){
    .images{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    
}