*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg, blue, red);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.clock {
    width: 500px;
    height: 20vh;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;   
    position: absolute;
    padding: 10px;
}

.clock span {
    color: black;
    font-size: 40px;
}

.clock::after, .clock::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
   background-image: conic-gradient(from var(--angles), transparent 70%, #ff4545, #00ff99, #006aff,#ff0095,#ff4545);
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    bottom: 0;
    padding: 5px;
    z-index: -1;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}
@keyframes spin {
    from{
        --angles: 0deg;
    }
    to{
        --angles: 360deg;
    }
}
@property --angles{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.clock::before{
  opacity: 20;
}