*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, black, black);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.projects{
     width: 300px;
    height: 400px;
    background: linear-gradient(120deg, blue, black);
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
}
.projects a{
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 10px;
}
@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.projects::after, .projects::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
   background-image: conic-gradient(from var(--angle), transparent 70%, #ff4545, #00ff99, #006aff,#ff0095,#ff4545);
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    bottom: 0;
    padding: 5px;
    z-index: -1;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.projects::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.projects :hover{
    background-color: rgb(16, 16, 57);
    border-radius: 20px;
    transition: 0.5s;
}
@media screen and (max-height ='768px') {
    .projects{
        width: 90%;
        height: 600px;
        backdrop-filter: blur();
        background: linear-gradient(120deg, blue, black);
        position: relative;
        box-shadow: 2px 2px 20px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}