*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  overflow: hidden;
}
.border-top{
  width: 100%;
  height: 90px;
  background-color: #24292f;
  position: fixed;
  font-size: 12px;
  font-weight: 600;
  display: block;
}

.img-background{
  width: 60px;
  height: 60px;
  background-color: white;
  margin: 11px 0 0 7px;
  cursor: pointer;
  position: fixed;
  border-radius: 50px;
}
.img-background img{
  width: 62px;
  height: 62px;
  margin: -1px 0 0 -1px;
  position: fixed;
  cursor: pointer;
}
.border-top  h2{
  margin: 29px 0 0 90px;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  text-decoration: none;
  cursor: default;
  position: fixed;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul {
  list-style-type: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  padding-right: 40px;
  text-decoration: none;
  font-size: 14px;
  margin: 30px 0 0 0;
}
a{
  color: #fff;
  text-decoration: none;
  transition: 1s;
}
a:hover{
  color: gray;
}
.menu-icon{
  width: 50px;
  float: right;
  display: none;
}
.heading {
    display: none;
}
h1{
  display: none;
}
.loader{
  width: 100%;
  height: 100%;
  z-index: 1;
  background: black;
  position: fixed;
}
.preloader{
  width: 100px;
  height: 100px;
  border: 17px solid gray;
  margin: auto;
  border-top: 17px solid #3498db;
  margin-top: 400px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media  (max-width:900px){
  .border-top{
    position: fixed;
    height: 90px;
  }
  .container{
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
  }
  .border-top h2{
    display: none;
  }
  .img-background{
    width: 42px;
    height: 42px;
    margin: 21px 0 0 157px;
    cursor: pointer;
    position: fixed;
    margin: auto;
    right: 0;
    top: 10px;
    left: 0;
  }
  .img-background img{
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: fixed;
    display: inline-block;
    margin: auto;
    left: 0;
    top: 10px;
    right: 0;
  }
nav ul{
  position: absolute;
  top: 80px;
  left: 0;
  background: #333;
  overflow: hidden;
  width: 100%;
  transition: max-height 1s;
}
nav ul li{
  display: block ;
  margin: 10px 50px 10px;
  padding-top: 10px;
}
a{
  color: #fff;
}
  .menu-icon{
    display: block;
    cursor: pointer;
    margin: -60px 20px 0 0px;
    background-color: white;
  }
  h1{
    display: block;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 59px;
  }
  .preloader{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border-width: 10px;
  }
}