*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: lightgray;
  color: white;
  display: flex;
  overflow: hidden;
}
.nav-bar{
  width: 100%;
  height: 10vh;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
}
img{
  width: 81px;
  height: 81px;
  border-radius: 50%;
  margin: -2px;
  cursor: pointer;
}
#show{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  border: 1px solid #2c3e50;
  margin-top: 10px;
}
#Profire{
  width: 400px;
  height: 400px;
  position: fixed;
  border-radius: 5px;
  background: white;
  margin: 110px 0 0 650px;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#Profire img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: -70px 0 0 0;
}
#button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  border: 1px solid white;
  display: flex;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 300px;
}
#button img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin:-2px;
}

#button:hover{
  background-color: lightgray;
}
.header{
  color: black;
  font-size: 10px;
  padding: 5px 0 0 0;
}