*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background: #10678a;
  overflow: hidden;
}
.navbar{
  width: 100%;
  height: 100px;
  background: #13475c;
  display: flex;
  position: fixed;
  justify-content: center;
}
.navbar h1{
  color: #fff;
  font-size: 30px;
  line-height: 100px;
  font-family: 'Courier New', Courier, monospace;
}
#button-1{
  background-color: #13475c;
  border: 1px solid #13475c;
  cursor: pointer;
}
#websites{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-left: 560px;
    margin-top: 200px;
    box-shadow: 1px 0 19px 7px #13475c;
    display: none;
}
#button-2{
  background: #10678a;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}
#websites a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size:20px;
  font-weight: 600;
  transition: 1s;
}
#websites a:hover{
  color: #08a4e1;
}