
*{
    margin: 0;
   padding:0;
   font-family: sans-serif;
}
body{
    background-color: red;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.gameContainer{
 background-image: url('bg.png'); 
 background-size: cover;
 width: 100vw;
 height: 100vh;
 background-repeat: no-repeat;

}
.dino{
    background-image: url('Hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 204px;
    height: 204px;
    position: absolute;
    bottom:0;
    left: 12px;
}

.obstacle{
    width: 183px;
    height:123px; 
    background-image: url('dino1.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
   
}  

.animateDino{
    animation: dino 1s linear;
}

.obstacleAni{
    animation: obstacleAni 2s linear infinite;
}

.gameOver{
    position: relative;
    top: 63px;
    font-size: 53px;
    text-align: center;
    visibility: hidden;
}

#scorecont {
    position: fixed;
    right: 20px;
    top: 10px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    width: 100px;
    color: white;
}


@keyframes dino{
    0%{
        bottom:0
    }
    50%{
        bottom:422px;

    }
    100%{
        bottom:0;

    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }

}










