*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.side-nav{
  width: 350px;
  height: 100%;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  padding: 20px 30px;
}
.nav li a:hover{
  color: #0d74f5;
  background-color: #fff;
  transition: 1s;
  border-radius: 4px;
}
.logo{
  display: block;
  width: 150px;
  margin-bottom: 130px;
  cursor: pointer;
}
.nav{
  list-style: none;
  position: relative;
}
.nav  li{
  padding: 10px 0;
  text-decoration: none;
}
.nav a{
  text-decoration: none;
  color: #fff;
  padding: 10px 14px;
  width: 70px;
  display: flex;
}
.container{
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #0d74f5;
  color: #0d74f5;
}
.form{
  width: 350px;
  height: 500px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0,8,51,0.8);
  border-radius: 5px;
}
.form h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.form input{
  width: 40%;
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px 68px;
  border-radius: 50px;
  margin-top: 25px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  outline: none;
}
::placeholder{
  color: #000;
}
.btn{
  width: 240px;
  height: 39px;
  border-radius: 16px;
  border: 1px solid black;
  cursor: pointer;
  margin: 25px 0px 0 54px;
}
.btn:hover{
  color: #fff;
  background-color: #0d74f5;
  transition: 1s;
}
.new-person{
  display: flex;
  margin: 7px 0 0 36%;
  text-decoration: none;
  color: #0d74f5;
  cursor: pointer;
}
.forget{
  display: flex;
  margin: 7px 0 0 33%;
  color: blue;
  text-decoration: none;
}

.loader{
  background: black;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.preloader{
  height: 100px;
  width: 100px;
  position: absolute;
  border: 15px solid gray;
  border-top: 15px solid #0d74f5;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}