*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 0 0 360px;
  background-color: lightgray;
}
.side-nav{
  width: 360px;
  height: 100%;
  position: fixed;
  background-color: #0d74f5;
  top: 0;
  left: 0;
  padding: 20px 30px;
}
.logo{
  display: block;
  width: 150px;
  margin-bottom: 130px;
  cursor: pointer;
}
.nav{
  list-style: none;
  position: relative;
}
.nav  li{
  padding: 10px 0;
  text-decoration: none;
}
.nav a{
  text-decoration: none;
  color: #fff;
  padding: 10px 14px;
  width: 150px;
  display: flex;
}
#pic{
  margin-right: 9px;
}
.nav a:hover{
  color: #0d74f5;
  background-color: #fff;
  transition: 1s;
  border-radius: 4px;
}
.logo-img{
  display: none;
  width: 45px;
}
.home-page{
  width: 100%;
  height: 100vh;
  border: 1px solid; 
}
@media only screen and (max-width: 600px){
  .side-nav{
    width: 100px;
  }
  .logo-img{
    display: block;
    margin-bottom: 130px;
  }
  .logo{
    display: none;
  }
  .nav li a p{
    display: none;
  }
  .nav li a{
    width: 50px;
  }
  .container{
    padding: 0 0 0 100px;
  }
}