*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-back{
  background: white;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  overflow: hidden;
}
.emoji img{
  width: 80px;
  margin: 0 10px; 
} 
#emoji{
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.rating .fas{
  font-size: 30px;
  padding: 8px 10px;
  color: lightgray;
  cursor: pointer;
}
.loader{
  width: 100%;
  height: 100%;
  z-index: 1;
  background: black;
  position: fixed;
}
.preloader{
  width: 100px;
  height: 100px;
  border: 17px solid gray;
  margin: auto;
  border-top: 17px solid #3498db;
  margin-top: 400px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media  (max-width:800px){
    .loader{
      width: 100%;
      height: 100vh;
      background: black;
    }
    .preloader{
      width: 90px;
      height: 90px;
      overflow: hidden;
    }
    .feed-back{
      width: 330px;
      height: 330px;
    }
    .rating .fas{
      font-size: 17px;
      margin: 5px -18px 0 0px;
    }
}